.button-control {
  margin-top: 1.8rem;
}

.button-control button {
  width: 100%;
  padding: 0.5rem;
  background-color: steelblue;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
